@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-space-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}
